/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
}

/* VARIABLES */
:root{
    --body-back: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
    --container-back: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);

    --black: #1C1C1C;
    --white: #F7F7F7;
}

/* DARK THEME */
.clock__theme{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    padding: 0.25rem;
    border-radius: 50%;
    box-shadow: inset -1px -1px 1px hsla(25,0%, 100%, 1),
                inset 1px 1px 1px hsla(25,30%, 86%, 1);
    color:  hsl(212, 99%, 64%);
    cursor: pointer;
}

/*  BOX SHADOW DARK THEME */
.dark-theme .clock__circle{
    box-shadow: 6px 6px 16px hsla(25, 8%, 12%, 1),
                -6px -6px 16px hsla(25, 8%, 20%, 1),
                inset -6px -6px 16px hsla(25, 8%, 20%, 1),
                inset 6px 6px 16px hsla(25, 8%, 12%, 1);
}

.dark-theme .clock__theme{
    box-shadow: inset -1px -1px 1px hsla(25, 8%, 20%, 1),
                inset 1px 1px 1px hsla(25, 8%, 12%, 1);
}

/* BODY */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--body-back) no-repeat;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
}

/* BORDER */
.border{
    border-radius: 1.2rem;
}


/* CONTAINER */
.container2{
    min-width: 300px;
    max-width: 600px;
    min-height: 300px;
    background-color: var(--white);
    margin: 0 auto;
    padding: 2rem 1rem;
    position: relative;
}

/* ADICIONA A ESTILIZAÇÃO DOS ELEMENTOS SE O MODO ESCURO ESTIVER ATIVO*/
.container2.dark-theme{
    background-color: rgba(31, 21, 21, 0.76);
    color: var(--white);
}
.container2.dark-theme .main{
    background: linear-gradient(230.65deg,#9CC8FC 15%, #499CFE 90%);;
}
.container2.dark-theme .main .projects h2:hover{
    color: black;
}
.container2.dark-theme .main .projects h2 .icon-container .icon{
    background-color: var(--white);
}

/* HEADER */
.header{
    display: grid;
    grid-template-areas: 
        "img"
        "text"
        "social-media"
    ;
    justify-items: center;
    margin-bottom: 1rem;
}
.header .img-container{
    grid-area: img;       
}
.header .img-container img{
    max-height: 110px;
    border-radius: 50%;
}
.header .text{
    margin-left: 1rem;
    text-align: center;
    grid-area: text;
}
.header .text h2{
    font-size: 2rem;
}
.header .text strong{
    color: #448fe6;
}
.header .social-media{
    margin: 1rem 0;
    grid-area: social-media;
    width: 130px;
}
.header .social-media img{
    width: 27px;
    margin-right: 0.5rem;
}

/* MAIN */
.main{
    max-width: 400px;
    background: var(--container-back) no-repeat;
    text-align: center;
    padding: 1.6rem 1rem;
    margin: 0 auto;
}
.main h2{
    margin-bottom: 1rem;
}
.main .projects h2 {
    max-width: 350px;
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    margin: 1.4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    transition: .2s;
}
.main .projects h2::before{
    content: "";
    width: 100%;
    height: 0.4px;
    background-color: var(--black);
    position: absolute;
    bottom: -5px;
    left: 0;
    color: var(--black);
}
.main .projects h2:hover{
    color: var(--white);
    cursor: pointer;
}
/* ROSE ICON */
.main .projects h2 .icon-container{
    width: 20px;
    height: 10px;
    position: relative;
    margin-left: 2rem;
}
.main .projects h2 .icon-container .icon{
    display: block;
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var(--black);
    color: var(--black);
    transform: rotate(45deg);
    border-radius: 0.5rem;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.3s;
}
.main .projects h2 .icon-container .rose-icon2{
    transform: rotate(-45deg);
    left: 28%;
}
.main .projects h2.show .icon-container .rose-icon{
    transform: rotate(-45deg);
}
.main .projects h2.show .icon-container .rose-icon2{
    transform: rotate(45deg);
    left: 28%;
}
@media screen and (min-width: 416px){
    .header{
        display: grid;
        grid-template-areas: 
        "img text"
        "img social-media"
        ;
        justify-content: center;
        align-items: center;
        grid-template-columns: 110px 278px;
    } 
    .header .social-media{
        margin: 0 auto;
    }
}
@media screen and (min-width: 550px){
    .header{
        display: grid;
        grid-template-areas: 
        "img text social-media";
        justify-content: center;
        gap: 0.5rem;
    }
    .header .social-media{
        margin-left: 1rem;
    }
}

