/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a, a:visited{
    text-decoration: none;
    color: var(--white);
}
span{
    color: var(--green);
}
img{
    display: block;
    width: 100%;
}

/* VARIABLES */
:root{
    --green: #00DF5E;
    --light-gray: #333333;
    --dar-gray: #212121;
    --gray: #828282;
    --black: #171717;
    --white: #f9f9f9;
}

/* GENERAL */
.grid{
    display: grid;
}

.button{
    max-width: 170px;
    padding: 12px 22px;
    background-color: var(--black);
    border: 1px solid var(--light-gray);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

/* BODY */
body{
    background-color: var(--black);
    font-family: 'DM Sans', sans-serif;
    color: var(--white);
}
p{
    color: var(--gray);
}

/* SCROLLBAR WIDTH */
::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}
.wrapper::-webkit-scrollbar {
    width: 20px;
    height: 8px;
}
  
/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--light-gray); 
    border-radius: 5px;
}
  
  /* SCROLLBAR HANDLE */
::-webkit-scrollbar-thumb {
    background: var(--green); 
    border-radius: 5px;
}
  
  /* SCROLLBAR HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
    background: var(--green); 
}

/* CONTAINER  AND CONTENT*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.content{
    margin: 170px 0 0 0;
    padding: 0 1rem;
}

/* HEADER */
header{
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    position: fixed;
    top: 0;
    transition: ease-in;
    z-index: 100;
}
header.scroll{
    background-color: var(--light-gray);
}
header #nav ul{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light-gray);
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
}
header #nav ul li,header #nav ul li a{
    display: block;
    height: 50px;
    text-align: center;
    font-size: 1.8rem;
    position: relative;
}
header #nav ul li a:hover{
    color: var(--green);
}

header #nav ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--green);

    position: absolute;
    left: 0;
    bottom: -0.3rem;

    transition: width 0.3s;
}

header #nav ul li a:hover::after{
    width: 100%;
}


/* linha de navegacao */
header .icon{
    width: 30px;
    height: 15px;
    position: relative;
    cursor: pointer;
    display: none;
}
header .icon .line{
    display: block;
    background-color: var(--green);
    width: 100%;
    height: 3px;
    border-radius: 1rem;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    position: absolute;
}
header .icon .line1{
    top: 0;
}
header .icon .line2{
    top: 52%;
}
header .icon .line3{
    top: 100%;
}
header .icon.close{
    position: absolute;
    right: 15px;
}
header .icon.close .line1{
    background-color: var(--green);
    z-index: 20;
    transform: rotate(45deg);
    top: 48%;
}
header .icon.close .line2{
    display: none;
}
header .icon.close .line3{
    background-color: var(--green);
    z-index: 20;
    transform: rotate(132deg);
    top: 48%;
}


/* DOWLOAD */
.dowload{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dowload .text{
    width: 100%;
    max-width: 350px;
    margin-bottom: 6rem;
}
.dowload .text span{
    display: block;
}
.dowload .text p{
    margin: 15px 0 30px 0;
}
.dowload .text p::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
  }
  
  @keyframes pisca{
    0%, 100%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
  }
.dowload .text .btn-container{
    width: 100%;
    max-width: 340px;
    height: 42px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 170px));
    justify-content: center;
}
.dowload .text .btn-container .button:first-child{
    width: 170px;
    color: var(--black);
    background-color: var(--green);
}

/* ABOUT */
.about{
    max-width: 550px;
    text-align: center;
    margin: 3rem auto;
}
.about h2{
    margin-bottom: 1rem;
}

/* CONTACT */
.contact{
    max-width: 950px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 200px));
    margin: 3rem 0;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.contact .card .icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: var(--dar-gray);
    border-radius: 50%;
}
.contact .card,
.projects .cards .card,
.skills .cards .card{
    opacity: 0.75;
}
.contact .card:hover,
.projects .cards .card:hover,
.skills .cards .card:hover{
    cursor: pointer;
    opacity: 1;
}
.contact .card .icon-container i{
    font-size: 28px;
    color: var(--green);
}
.contact .card h2{
    font-size: 1rem;
    margin: 1rem 0 6px 0;
}
.contact .card p{
    font-size: 12px;
}

/* PROJECTS , SERVICES and SKILLS*/
.projects,
.services,
.skills{
    margin: 3rem 0;
}
.projects h2,
.services h2,
.skills h2{
    text-align: center;
}
.projects .cards,
.services .cards,
.skills .cards{
    grid-template-columns: repeat(auto-fill, minmax(299px, 300px));
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.projects .cards .card,
.services .cards .card,
.skills .cards .card{
    min-width: 300px;
    max-width: 350px;
    padding: 20px 25px;
    background-color: var(--dar-gray);
}

.services .cards .card i,
.skills .cards .card i{
    font-size: 50px;
    color: var(--green);
}

/* PROJECTS */
.projects .cards .card h2{
    margin: 1rem 0;
}
.projects .cards .card img{
    height: 160px;
}

/* SERVICES */
.services .cards{
    grid-auto-rows: 250px;
}
.services .cards .card{
    height: 180px;
    border-bottom: 5px solid var(--green);
    text-align: center;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.services .cards .card h2{
    margin: 1.5rem 0;
}
.services .cards .card p{
    font-size: 0.9rem;
    display: none;
}

/* SKILLS */

.skills .cards{
    max-width: 500px;
    grid-template-columns: repeat(auto-fill, minmax(95px, 100px));
    margin: 2rem auto 0 auto;
}
.skills .cards .card{
    min-width: 100px;
    padding: 30px 25px;
    text-align: center;
}
.skills .cards .card:hover,
footer .social a i:hover,
.contact .card:hover{
    animation: bounce 0.5s;
    color: var(--green);
    
    transition: ease-in-out 0.2s;
}

@keyframes bounce{
    10%{
        transform: translateY(-5px);
    }
}

/* FOOTER */
footer{
    width: 100%;
    min-height: 110px;
    background-color: var(--light-gray);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
footer .logo a{
    display: inline-block;
    font-size: 1.7rem;
    margin-bottom: 0.6rem;
}

footer .social{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 0 0;
}
footer .social a i{
    font-size: 30px;
}

/* MEDIA */
@media screen and (min-width: 682px) {
    .dowload{
        justify-content: space-between;
    }
}
@media screen and (min-width: 699px) {
    header #nav ul{
        width: 435px;
        height: 30px;
        background-color: transparent;
        position: static;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(4 , 1fr);
        gap: 1rem;
    }
    header #nav ul li , header #nav ul li a{
        display: block;
        min-width: 60px;
        max-width: 88px;
        height: 20px;
        text-align: center;
        font-size: 1rem;
    }
}